/*
Name : Varush Sivalingam
File : style.css - cool_looking_box
Date : 26th June 2024
Description: Styling a box so that it can become cool.
*/

html {
    font-family: sans-serif;
  }
  
  /* Your CSS below here */